<h1>Stupid Coaching</h1>
<p>&nbsp;</p>

<div class="alert alert-<%= @alert %>">
    <blockquote class="blockquote">
        <p><%= @question %></p>
        <footer class="blockquote-footer"><cite>You</cite></footer>
    </blockquote>
</div>

<div class="card mt-4">
    <div class="card-body">
        <blockquote class="blockquote">
            <p><%= @answer %></p>
            <footer class="blockquote-footer"><cite>Your Coach</cite></footer>
        </blockquote>
    </div>
</div>

<p class="mt-4">
    <%= link_to "Any more questions ???", ask_path %>
</p>