<h1>Stupid Coaching</h1>
<p>&nbsp;</p>

<form action="/answer">
    <div class="input-group">
        <input type="text" name="question" class="form-control" placeholder="Ask your question...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Ask question</button>
        </div>
    </div>
</form>